

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.btn i.fas {
    margin-right: 7px;
}


.card {
    overflow-x: hidden;
}
.table-responsive {
    overflow-x: hidden;
}



.custom-switch-input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.custom-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px; /* Ajustado a 60px */
    height: 30px; /* Ajustado a 30px */
    background: grey;
    display: block;
    border-radius: 30px; /* Ajustado a 30px */
    position: relative;
}

    .custom-switch-label:after {
        content: '';
        position: absolute;
        top: 1.5px; /* Ajustado a 1.5px */
        left: 1.5px; /* Ajustado a 1.5px */
        width: 27px; /* Ajustado a 27px */
        height: 27px; /* Ajustado a 27px */
        background: #fff;
        border-radius: 27px; /* Ajustado a 27px */
        transition: 0.3s;
    }

.custom-switch-input:checked + .custom-switch-label {
    background: #bada55;
}

    .custom-switch-input:checked + .custom-switch-label:after {
        left: calc(100% - 1.5px); /* Ajustado a 1.5px */
        transform: translateX(-100%);
    }

.custom-switch-label:active:after {
    width: 40px; /* Ajustado a 40px */
}

.custom-switch {
    display: flex;
    align-items: center; /* Alinea verticalmente el interruptor con el título */
    margin-right: -350px; /* Esto hará que el interruptor esté pegado al borde del card-header */
}


/* Para pantallas pequeñas: ajusta el tamaño del interruptor */
@media (max-width: 576px) {

    .custom-switch {
        margin-right: -80px; /* Cambiamos el margin-right para pantallas pequeñas */
    }

    .custom-switch-label {
        width: 70px; /* Reducimos el ancho */
        height: 35px; /* Reducimos la altura */
    }

        .custom-switch-label:after {
            top: 1.75px; /* Reducimos el tamaño */
            left: 1.75px; /* Reducimos el tamaño */
            width: 30px; /* Reducimos el ancho */
            height: 30px; /* Reducimos la altura */
        }

        .custom-switch-label:active:after {
            width: 40px;
        }

    input:checked + .custom-switch-label:after {
        left: calc(100% - 1.75px);
    }
}
