/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .modal-container:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

.modal-content {
    display: inline-block;
    vertical-align: middle;
}

/* Estilos para dispositivos medianos */
@media (max-width: 992px) {
    .modal-content {
        width: 70%;
        margin: 7% auto; /* Ajustado para un espacio superior e inferior adicional */
    }
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .modal-content {
        width: 50%;
        margin: 10% auto; /* Aumentado para aún más espacio superior e inferior */
    }
}

/* Estilos para dispositivos extra pequeños */
@media (max-width: 576px) {
    .modal-content {
        width: 85%;
        margin: 40% auto; /* Aumentado aún más para el máximo espacio en dispositivos muy pequeños */
    }
}


/*esto es para el selectr multiple*/
.select2-container .select2-selection--multiple {
    max-height: 50px;
    overflow-y: auto;
}

/*esto es para el cardtitle*/
.card-tools {
    margin-left: auto;
}

/* Estilo personalizado para dispositivos pequeños */
@media (max-width: 768px) {
    .responsive-search {
        width: 100%;
    }

    .card-header {
        flex-direction: column;
        align-items: start;
    }

    .card-tools {
        margin-top: 10px;
        width: 100%;
        margin-left: 0; /* Esto anulará el margen izquierdo automático en dispositivos más pequeños */
    }
}


/*para borrar el aumento del boton de numeros*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/*para los botones del modal*/

/* Estilo para pantallas menores a 768px (tamaño md de Bootstrap) */
@media (max-width: 767px) {
    .button-container .col-md-6 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .button-container button {
        margin-bottom: 10px;
    }
}

/*boton especifico*/
#abrirModalBoton.btn-orange {
    background-color: #ff7f00;
    border-color: #ff7f00;
}

    #abrirModalBoton.btn-orange:hover, #abrirModalBoton.btn-orange:focus {
        background-color: #ff5500;
        border-color: #ff5500;
    }

    #abrirModalBoton.btn-orange:active {
        background-color: #ff2a00;
        border-color: #ff2a00;
    }


.btn i.fas {
    margin-right: 7px;
}



