#imagenGiratoria {
    width: 400px;
    height: auto;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin-left: 400px;
}

/* Estilos para pantallas pequeñas (menos de 768px, típico breakpoint para dispositivos móviles) */
@media (max-width: 767px) {
    #imagenGiratoria {
        width: 100%; /* Hacemos que la imagen ocupe todo el ancho disponible */
        margin-left: 0; /* Quitamos el margen para que no se desplace hacia la derecha */
    }
}
