.select2-selection__choice {
    display: inline-block;
    height: 24px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-selection__rendered {
    white-space: normal;
    height: auto;
    min-height: 24px;
    max-height: 48px; /* Cambia esto a la altura máxima que desees */
    overflow-y: auto;
}


/*botones datatables*/

.dataTables_wrapper .btn-excel {
    background-color: green !important;
    color: white !important;
    border: double;
}

.dataTables_wrapper .btn-pdf {
    background-color: red !important;
    color: white !important;
    border: double;
}
