/* estilos-tabla.css */

.tabla-ajustada {
    
}

    .tabla-ajustada th,
    .tabla-ajustada td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }



.table-responsive {
    overflow-x: auto;
}

@media (max-width: 767px) {
    .tabla-ajustada th.opciones,
    .tabla-ajustada td.opciones {
        display: none; /* oculta la columna de opciones en pantallas pequeñas */
    }
}


        /*.tabla-ajustada th.ancho-50 {
            width: 50px;
        }

        .tabla-ajustada th.ancho-80 {
            width: 80px;
        }

        .tabla-ajustada th.ancho-100 {
            width: 100px;
        }

        .tabla-ajustada th.ancho-120 {
            width: 120px;
        }

        .tabla-ajustada th.ancho-150 {
            width: 150px;
        }

        .tabla-ajustada th.ancho-160 {
            width: 160px;
        }

        .tabla-ajustada th.ancho-180 {
            width: 180px;
        }

        .tabla-ajustada th.ancho-200 {
            width: 200px;
        }

        .tabla-ajustada th.ancho-260 {
            width: 260px;
        }

        .tabla-ajustada th.ancho-300 {
            width: 300px;
        }

        .tabla-ajustada th.ancho-350 {
            width: 350px;
        }*/