
.hidden {
    display: none;
}

.dataTables_filter {
    display: none;
}
.dataTables_info, .dataTables_paginate {
    display: none;
}

.highcharts-credits {
    display: none;
}

table {
    display: none;
}
