
/* Estilos CSS*/
.buttons-pdf {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

    .buttons-pdf:hover {
        background-color: #c82333;
        border-color: #bd2130;
        color: #fff;
    }

.buttons-excel {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

    .buttons-excel:hover {
        background-color: #218838;
        border-color: #1e7e34;
        color: #fff;
    }

.buttons-print {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

    .buttons-print:hover {
        background-color: #e0a800;
        border-color: #d39e00;
        color: #fff;
    }

.buttons-csv {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

    .buttons-csv:hover {
        background-color: #218838;
        border-color: #1e7e34;
        color: #fff;
    }

.buttons-copy {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #6c757d;
}

    .buttons-copy:hover {
        background-color: #e2e6ea;
        border-color: #dae0e5;
        color: #6c757d;
    }
